/* common css start */

*{
    margin: 0px;
padding: 0px;
}
ul,ol{
    list-style: none;
}
li {
    list-style: none;
}

a{
    text-decoration: none;
}


.title h1{
color: #282938;
font-size: 48px;
font-weight: 600;
font-family: "Poppins", sans-serif;
}

.title p{
    color: #2829388c;
font-size: 16px;
font-weight: 400;
font-family: "Poppins", sans-serif;
width: 405px;
padding: 0px 0;
}
.title a{
    color: #2405F2;
    margin-left: 0px;
}


/* common css  end*/
/* ====================
nav-part-start
====================*/


nav{
background: #1C1E53;
padding: 16px 0px !important;
}
ul{
    column-gap: 32px;
}

nav ul li .nav-link{
    font-size: 16px;
    font-weight: 500;
        font-family: "Poppins", sans-serif;
        color: #BBBBCB;
}
nav ul li .nav-link:hover{
    color: #fff;
}

.nav-link{
    padding-left: 0px !important; 
    padding-right: 0px !important;
}


.nav-btn a{
    background: transparent;
    font-size: 16px;
    font-weight: 500;
      font-family: "Poppins", sans-serif;
      padding: 16px 48px;
      border-radius: 41px;
      color: #fff;
      border: 1px solid #F4F6FC33;
      margin-left: 48px;
      transition: .4s;
}

.nav-btn a:hover{
    background: #FCD980;
    color: black;
}
/* ====================
nav-part-end
====================*/

/* ====================
banner-part-start
====================*/
.banner-part{
    background: #1C1E53;
    padding-top: 126px;
    padding-bottom: 70px;
}
.banner-part h1{
    font-size: 54px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    line-height: 74px;
    width: 582px;
}

.banner-part p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255,.7);
    line-height:28px;
    width: 575px;
    padding-top: 16px;
}
.banner-part  .banner-btn{
    font-size:18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 32px;
padding: 16px 56px;
background: #FCD980;
border-radius: 41px;
color: black;
border: 1px solid transparent;
display: inline-block;
transition: .4s;
margin-top: 20px;
}
.banner-part  a:hover{
    background: transparent;
    border-color: #F4F6FC33;
    color: #fff;
}

.view-btn{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-left: 50px;
    position: relative;
}
.view-btn i{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    transition: 0.4s;
    opacity: 0;
}
 .view-btn:hover i{
opacity: 1;
    right: -65px;
}



.banner-part .banner-image{
    width: 638px;
    height: 361.12px;

}
.banner-part .banner-image img{
    width: 100%;
    height: 100%;
}
/* ====================
banner-part-end
====================*/


/* ============================
work-part-start
=============================*/
.work-part{
    padding: 128px 0px;
    background: #F4F6FC;
}
.work-part .work-box{
    display: flex;
    flex-wrap: wrap;
  
}

.work-part .work-card{
    width: 50%;
}

.work-part .work-card h2{
    font-size: 32px;
    font-weight: 500;
       font-family: "Poppins", sans-serif;
       color:#282938;
       margin-top: 16px;
       margin-bottom: 8px;
}
.work-part .work-card  p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #282938c2;
    width: 303px;
}

/* ============================
work-part-end
=============================*/


/* ============================
project-part-start
=============================*/
.project-part {
    padding-top: 128px;
    padding-bottom: 128px;
}

.title-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-1 a{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #282938;
}
.project-part .image-box{
    position: relative;
    overflow: hidden;
}
.project-part .image-box .overly{
    width: 52%;
    height:100% ;
    background: #1c1e539a;
    position: absolute;
    top: 0px;
    left: -52%;
    transition: .5s;
}
.project-part .image-box:hover .overly{
left: 0%;
}  

.project-part .image-box:hover .overly h1{
    font-size: 24px;
    font-weight: 600;
     font-family: "Poppins", sans-serif;
     color: #fff;
     width: 313px;
     margin-top: 312px;
     margin-left: 48px;
}

.project-part .image-box:hover .overly p{
    font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: #ffffff85;
     margin-left: 48px;
}

.project-part .image-box:hover .overly a{
    color:#FCD980 ;
}

.overly-2{
width: 100%;
height: 100%;
position: absolute;
bottom: 100%;
left: 100%;
background: #1c1e539a;
transition: .5s;
}

.project-part .image-box:hover .overly-2{
bottom: 0%;
left: 0%;
}  


.overly-2 h1{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 250px;
    margin-top: 129px;
    margin-left: 45px;
}

.overly-2 a{
    color: #FCD980;
    margin-left: 45px;
}


.overly-3{
    width: 100%;
    height: 100%;
 background: #1c1e539a;
    position: absolute;
    top: 100%;
    right: 100%;
    transition: 0.5s;
}

.project-part .image-box:hover .overly-3{
top: 0%;
right: 0%;
}  


.overly-3 h1{
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
     margin-top: 129px;
    margin-left: 45px;
}

.overly-3 a{
    color: aqua;
    margin-left: 45px;
}
/* ============================
project-part-end
=============================*/


/* ============================
product-part-start
=============================*/
.product-part{
    margin-top: 107px;
    background: #F4F6FC;
}
.title-2 p{
 width: 1320px;
 text-align: center;
 padding-top: 128px;
 color: #282938;
}

.title-2 h1{
    width: 630px;
text-align: center;
margin: 0 auto;
padding-bottom: 47px;
}
.product-part .product-box{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-part .product-box .product-card{
    width: 32%;
    height: 280px;
    background: #fff;
    border-radius: 15px;
}
.product-part .product-box .product-card i{
    width: 40px;
    height: 35px;
  color: #2405F2;
  margin-top: 58px;
  margin-left: 48px;
}

.product-part .product-box .product-card h2{
    font-size: 24px;
    font-weight: 500;
font-family: "Poppins", sans-serif;
color: #282938;
  margin-left: 48px;
}
.product-part .product-box .product-card p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #28293891;
    width: 324.08px;
    margin-top: 12px;
      margin-left: 48px;
}

.boxing{
    margin-top: 24px;
    margin-bottom: 128px;
}
/* ============================
product-part-end
=============================*/

/* ============================
client-part-start
=============================*/
.client-part{
    background: #F4F6FC;
    padding-top: 130px;
    padding-bottom: 130px;
}

.client-part h1{
    font-size: 38px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 327px;
    padding-bottom: 16px;
}
.client-part p{
    font-size: 16px;
    font-weight: 400;
   font-family: "Poppins", sans-serif;
   color: #282938b0;
   width: 327px;
}
.client-part h2{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    width: 843px;
}

.client-part .client-profile{
    display: flex;
    position: relative;
    align-items: center;
    padding-top: 48px;
}

.client-part .client-profile .client-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: red;
}
.client-part .client-profile .client-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.client-part .client-profile h1{
   font-size: 18px;
   font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #282938;
    margin-left: 7px;
}
.client-part .client-profile P{
    font-size: 12px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    position: absolute;
    bottom:0px;
    right: 52%;
}


/* ============================
client-part-end
=============================*/

/* ============================
ac-part-start
=============================*/
.ac-part{
    margin-top: 128px;
}

.ac-part .title-3 h1{
    font-size: 38px;
    width: 328px;
    padding-bottom: 16px;
}
 
.ac-part .accordion-item .x1 h4 span{
    color: #2405F2;
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-right: 59px;
}

.ac-part .accordion-item .x1 h4{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.ac-part .accordion-body .text{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.n1{
    margin-bottom: 128px;
}
/* ============================
ac-part-end
=============================*/


/* ============================
contact-part-start
=============================*/
.contact-part{
    padding-bottom: 77px;
}

.contact-part .contact-box {
    width: 660px;
    height: 560px;
    background: black;
    position: relative;
}
.contact-part .contact-box img{
    width: 100%;
    height: 100%;
}
.contact-part .contact-box .overly-x{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(28, 30, 83,.5);
}
.contact-part .contact-box .overly-x h1{
    font-size: 42px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 450px;
    padding-top: 96px;
    padding-left: 96px;
}
.contact-part .contact-box .overly-x p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 570px;
    padding-top: 27px;
    padding-left: 96px;
}
.contact-part .contact-content{
    width: 660px;
    height: 560px;
    background: #1C1E53;
}
.contact-part .contact-content .contact-content-text{
    padding-top: 70px;
    padding-left: 96px;
}

.contact-part .contact-content .contact-content-text h1{
    font-size: 32px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.contact-part .contact-content .contact-content-text p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #fff;
    width: 432px;
}
.contact-part .contact-content .inputs{
    padding-top: 30px;
    padding-left: 96px;
}
.contact-part .contact-content .inputs .z1{
    width: 432px;
    height: 50px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    background: transparent;
    border: 1px solid rgb(255, 255, 255,.5);
    margin-bottom: 16px;
    color: #fff;
}
#g1{
margin-bottom: 34px;
}
.contact-part .contact-content .contact-btn a{
    color: #1B1C2B;
    background: #FCD980;
    padding: 16px 150px;
    border-radius: 41px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
   margin-left: 96px;
   transition: .5s;
   border: 1px solid rgb(255, 255, 255,.5);
}
.contact-part .contact-content .contact-btn a:hover{
    background: transparent;
    color: #fff;
}
.s1{
    display:inline-block;
   margin-top: 33px;
   padding-left: 190px;
}

/* ============================
conatct-part-end
=============================*/

/* ============================
blog-part-start
=============================*/
.blog-part{
    margin-bottom: 179px;
}

.blog-part .blog-box{
    display: flex;
    justify-content: space-between;

}
.blog-part h4{
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
    margin-bottom: 64px;
}


.blog-part .blog-box .blog-card{
    width: 410px;
    height: 609px;
 
}
.blog-part .blog-box .blog-card .blog-img{
    width: 405px;
    height: 285px;
}
.blog-part .blog-box .blog-card .blog-img img{
    width: 100%;
    height: 100%;
}
.blog-part .blog-box .blog-card h1{
    font-size: 24px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
} 
.blog-part .blog-box .blog-card a{
    color: #282938;
    padding-left: 0px;
    margin-top: 32px;
    
}
#l1{
    padding-top: 40px;
}
.blog-part .blog-box .blog-card p{
    padding-top: 16px;
}

/* ============================
blog-part-end
=============================*/

/* ============================
footer-part-start
=============================*/
.footer-part{
    background: #1C1E53;
}

.footer-part .f-img{
    padding-top: 100px;
}
.footer-part .f-text p{
    font-size: 16px;
    font-weight: 500;
     font-family: "Poppins", sans-serif;
     color: #fff;
     width: 399px;
     padding-top: 22px;
     padding-bottom: 86px;
}
.f-contact{
    display: flex;
}
.fc-1{
    background: #FCD980;
    width: 258.5px;
    height: 95px;
}
.fc-1 .fc-text{
    margin-left: 37px;
}


.fc-1 h6{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
}
.fc-2{
       background: #FCD980;
    width: 258.5px;
    height: 95px;
}
.fc-2 h6{
    font-size: 18px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 22px;
}
.fc-2 .fc-text{
    margin-left: 0px;
}
.footer-part .title-5{
    margin-top: 96px;
}

.footer-part .title-5 h1{
    color: #fff;
    
}
.footer-part .title-5 p{
    color:#f4f6fca2;
    padding-top: 16px;
    padding-bottom: 24px;
}
.footer-part .f-left-icon i{
    color: #fff;
    padding-right: 26px;

}



/* ============================
footer-part-end
=============================*/

/* ============================
footer.2-part-start
=============================*/
.f_2-part .f_2-content{
 background: #fff;
 display: flex;
 justify-content: space-between;
}
.f_2-part .f_2-content p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-top: 32px;
}
.f_2-part .f_2-content .f-menu ul{
    display: flex;
    padding-top: 32px;
}

.f_2-part .f_2-content .f-menu ul a{
    color: #1B1C2B;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: .4s;
}
.f_2-part .f_2-content .f-menu ul a:hover{
    color:red;
}
/* ============================
footer.2-part-end
=============================*/